*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.form-send{
  display: flex;
  background-color: rgb(248, 231, 132);
}
p{
  flex: 10%;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(8, 8, 201);
}

label .inputVal{
  height: 30px;
  width: 300px;
  padding: 2px;
  text-align: left;
  margin-right: 10px;
  margin-top: 5px;
}
label .inputNgoaiKhoa{
  margin-top: 5px;
  margin-right: 260px;
}
.inputValGender{
  margin-top: 10px;
  margin-right: 220px;
}
label .form-control{
  margin-bottom: 10px;
  margin-right: 100px;
  padding: 5px;
}
label .form-del-edit{
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

table{
  border:1px solid black;
}
th{
    padding: 15px;
}
td{
    padding: 15px;
}

.quanhuyen{
    display: none;
  }
#delAll{
    display: none;
  }
