#divmain
{
	width:500px;
	height:500px;
	float:left;
	margin-left:150px;
	margin-top:50px;
	overflow:hidden;
}
.playerbox
{
	width:25px;
	height:25px;
	font-size:9px;
	border-right:#000 2px solid;
	border-top:#000 1px solid;
	background-color:#FFF;
	background-repeat:round;
	overflow:hidden;
	opacity:0.65;
	cursor:pointer;
}