.field-block{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.field-block .label{
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

#buttons{
    margin-left: 105px;
}
#buttons>:last-child{
    margin-left: 10px;
}

